<br />
<table>
  <caption>
    <h3>
      {{@model.name}}
    </h3>
  </caption>
  <tbody>
    <tr>
      <td>
        <table>
          <thead>
            <tr>
              <th>
                Imports
              </th>
            </tr>
          </thead>
          <tbody>
            {{#each @model.jsImports as |prop|}}
              <tr>
                <td>
                  {{prop}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
        <table>
          <thead>
            <tr>
              <th>
                Computeds
              </th>
            </tr>
          </thead>
          <tbody>
            {{#each @model.jsComputeds as |prop|}}
              <tr>
                <td>
                  {{prop}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
        <table>
          <thead>
            <tr>
              <th>
                Props
              </th>
            </tr>
          </thead>
          <tbody>
            {{#each @model.jsProps as |prop|}}
              <tr>
                <td>
                  {{prop}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
        <table>
          <thead>
            <tr>
              <th>
                Functions
              </th>
            </tr>
          </thead>
          <tbody>
            {{#each @model.jsFunc as |prop|}}
              <tr>
                <td>
                  {{prop}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
        <table>
          <thead>
            <tr>
              <th>
                API
              </th>
              <th>
                Value
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                tagName
              </td>
              <td>
                {{@model.api.tagName}}
              </td>
            </tr>
            {{#if @model.api.attributeBindings.length}}
              <tr>
                <td>
                  attributeBindings
                </td>
                <td>
                  {{@model.api.attributeBindings}}
                </td>
              </tr>
            {{/if}}
            {{#if @model.api.mergedProperties.length}}
              <tr>
                <td>
                  mergedProperties
                </td>
                <td>
                  {{@model.api.mergedProperties}}
                </td>
              </tr>
            {{/if}}
            {{#if @model.api.classNameBindings.length}}
              <tr>
                <td>
                  classNameBindings
                </td>
                <td>
                  {{@model.api.classNameBindings}}
                </td>
              </tr>
            {{/if}}
            {{#if @model.api.concatenatedProperties.length}}
              <tr>
                <td>
                  concatenatedProperties
                </td>
                <td>
                  {{@model.api.concatenatedProperties}}
                </td>
              </tr>
            {{/if}}
            {{#if @model.api.positionalParams.length}}
              <tr>
                <td>
                  positionalParams
                </td>
                <td>
                  {{@model.api.positionalParams}}
                </td>
              </tr>
            {{/if}}
            {{#if @model.api.classNames.length}}
              <tr>
                <td>
                  classNames
                </td>
                <td>
                  {{@model.api.classNames}}
                </td>
              </tr>
            {{/if}}
            {{#each @model.api.actions as |prop|}}
              <tr>
                <td>
                  @action
                </td>
                <td>
                  {{prop}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
        {{#if @model.hbsComponents.length}}
          <table>
            <thead>
              <tr>
                <th>
                  Components Used
                </th>
              </tr>
            </thead>
            <tbody>
              {{#each @model.hbsComponents as |cmp|}}
                <tr>
                  <td>
                    {{cmp}}
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        {{/if}}
        <table>
          <thead>
            <tr>
              <th>
                Template props
              </th>
            </tr>
          </thead>
          <tbody>
            {{#each @model.hbsProps as |prop|}}
              <tr>
                <td>
                  {{prop}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </td>
      <td></td>
    </tr>
  </tbody>
</table>