<div class="entry" {{action "name"}}></div>
{{@external}}
{{@model}}
{{this.internal}}
{{this.total}}
<FooBar />
<NodeBar />
{{foo-bar}}
{{t-for}}

{{#link-to 'doo.ab'}}fsf{{/link-to}}
{{#link-to 'some.route.name'}}fsf{{/link-to}}